.codeWrapper {
  max-width: 100%;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.codeWrapper::-webkit-scrollbar {
  display: none;
}

.codeWrapper :global(.language-markup) {
  white-space: pre-wrap !important;
  word-break: break-all !important;
  display: block !important;
  width: 100% !important;
}

.codeContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  width: 100%;
}

.codeContainer::-webkit-scrollbar {
  display: none;
}
